@tailwind base;

@tailwind components;

@tailwind utilities;

@font-face {
  font-family: 'Scriptina';
  src: url('/assets/fonts/SCRIPTIN.ttf') format('truetype'); 
}

.font-Scriptina {
  font-family: 'Scriptina', sans-serif;
}

@font-face {
  font-family: 'Libre Baskerville Bold';
  src: url('/assets/fonts/LibreBaskerville-Bold.ttf') format('truetype');
}

.font-LibreBaskervilleBold {
  font-family: 'Libre Baskerville Bold', sans-serif; 
}

@font-face {
  font-family: 'Libre Baskerville';
  src: url('/assets/fonts/LibreBaskerville-Regular.ttf') format('truetype'); 
}

.font-LibreBaskerville {
  font-family: 'LibreBaskerville-Regular', sans-serif;
}
